# Node modules
node_modules/
frontend/node_modules/
backend/venv/
backend/logs/
backend/tests

# Build outputs
dist/
build/
out/
venv/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
telemidicine.db

# IDE/editor files
.vscode/
.idea/
*.swp

# Coverage/test
coverage/
HEAD

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.cpython-*
*.cpython
*.pyc
3cd9f42565f16ff18ea0debf4a86c198eafa7d62
